<%= render "shared/navbar" %>


<div class="dmc-rc-edit" style="margin-top: 90px;">
  <div class="lc">
    <div>
      <%= render partial: 'shared/avatar_large', locals: {img: @user.picture_url} %>
    </div>
    <div class="name-container"></div>
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <h3><%= @user.job_title %></h3>
    <h3><%= @user.age %> ans</h3>
    <p>"Céline est sérieuse et très professionnelle ..."</p>
    <%# générer un troncate de @review.containt %>
    <p>rating : 5 Etoiles</p>
    <%# générer un troncate de @review.rating %>
    <ul>
      <li>
        <h3>Expériences</h3>
      </li>
      <li>
        <h3>Diplômes</h3>
      </li>
      <li>
        <h3>Avis</h3>
      </li>
    </ul>
    <%= link_to 'retour', root_path, class: "my-btn-small" %>
  </div>


  <div class="rc">
    <div class="diplomas-container">
      <div class="dc-lc"> </div>
      <div class="dc-rc">
       <h2>Experiences(s)</h2>
        <div class = "diplomas-infos">
          <% @user.experiences.each do |experience| %>
            <h3> <%=experience.title  %></h3>
            <p><%=experience.description  %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="diplomas-container">
      <div class="dc-lc"> </div>
      <div class="dc-rc">
       <h2>Diplôme(s)</h2>
        <div class = "diplomas-infos">
          <% @user.diplomas.each do |diploma| %>
            <h3> <%=diploma.title  %></h3>
            <p><%=diploma.description  %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
