<%= render "shared/navbar" %>


<div class="dmc-rc-edit">
  <div class="lc">
    <div>
      <%= render partial: 'shared/avatar_large', locals: {img: @user.picture_url} %>
    </div>
    <div class="name-container">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <h3><%= @user.job_title %></h3>
      <h3><%= @user.age %> ans</h3>
      <p>"<%= @user.first_name %> est sérieux et très professionnel ..."</p>
      <%# générer un troncate de @review.containt %>
      <p>rating : 5 Etoiles</p>
    </div>
    <%# générer un troncate de @review.rating %>

    <%= link_to 'retour', root_path, class: "my-btn-small" %>
  </div>


  <div class="rc">
    <div class="diplomas-container">
      <div class="dc-lc"> </div>
      <div class="dc-rc">
       <h2><i class="fa-solid fa-user-tie" style="font-size:30px; margin-right:10px;"></i>Experiences(s)</h2>
        <div class = "diplomas-infos">
          <% @user.experiences.each do |experience| %>
            <h3> <%=experience.title  %></h3>
            <p><%=experience.description  %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="diplomas-container">
      <div class="dc-lc"> </div>
      <div class="dc-rc">
       <h2><i class="fa-solid fa-graduation-cap" style="font-size:30px; margin-right:10px;"></i>Diplôme(s)</h2>
        <div class = "diplomas-infos">
          <% @user.diplomas.each do |diploma| %>
            <h3> <%=diploma.title  %></h3>
            <p><%=diploma.description  %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
