
<div class="msg-card" data-message-target="card" data-action="click->message#switch_chatroom" id="<%= chatroom.id %>" data-chatroom-id="<%= chatroom.id %>" data-id = <%=chatroom.id%>>

    <div class="msg-card-lc">
      <%= render partial: 'shared/avatar_small', locals: {img: img} %>
    </div>

    <div class="msg-card-rc">
      <div class="msg-card-rc-tc">

        <h3><%= user.first_name + ' '+ user.last_name %></h3>

        <%# Il faudra ici utiliser le created time du message et le comparer au date time.now pour trouver un moyen de l'afficher %>
      </div>
      <div class="msg-card-rc-bc">
        <%# Il faudra mettre une condition ici si l'auteur du dernier message est cirrent user alors you : message %>
        <%# Sinon prénom: message %>
      </div>
    </div>

  </div>
