<div class="my-apply-container">

  <div class="ac-lc"> </div>

  <div class="ac-rc">
    <h3><%= appliance.offer.job_title %></h3>
    <div class="name-container">
      <p><%= appliance.offer.user.first_name %></p>
      <p><%= appliance.offer.user.last_name %></p>
    </div>
    <p>Salary: <%= appliance.offer.salary %></p>
    <div class="date-container">
      <p>Du <%= appliance.offer.start_time %></p>
      <p> au <%= appliance.offer.end_time %></p>
    </div>
    <p style="margin-bottom: 10px">Ville: lille</p>
    <%= link_to 'Annuler', '#', class: "my-btn-small" %>
  </div>
</div>
