<div class="nav-container" data-hero-target="bar">
  <%= link_to root_path do  %>
    <%= render partial: 'shared/logo' %>
  <% end %>
  <%= render partial: 'shared/search_bar', locals: {path: root_path} %>

  <div class= "nav-btn-dshb-container">

    <% if user_signed_in? %>

      <%= link_to 'Nouvelle offre', new_offer_path, class: "my-btn" %>
      <%= link_to dashboard_path(where: 'edit'), class:"my-dashboard-btn" do  %>
        <i class="fa-solid fa-gear"></i>
      <%end%>



    <% else %>
      <%= link_to 'Nouvelle offre', new_user_session_path, class: "my-btn" %>
      <%= link_to new_user_session_path, class:"my-dashboard-btn" do  %>
        <i class="fa-solid fa-table-columns"></i>
      <%end%>
    <% end %>

  </div>

</div>
