
<div class="offer-card-container">
  <div class="offer-card-lc"></div>

  <div class="offer-card-mc">
    <h2><%= titre %></h2>
    <p> <%= description.truncate(300, separator: ' ') %> </p>
  </div>

  <div class="offer-card-rc">
    <%= render partial: 'shared/avatar_small', locals: {img: avatar}%>
    <div class = "rc-infos">
      <div class="rc-infos-fc">
        <i class="fa-solid fa-map-pin"></i>
        <i class="fa-solid fa-calendar-days"></i>
        <i class="fa-solid fa-euro-sign"></i>
      </div>
      <div class="rc-infos-sc">
        <p><%= location %></p>
        <p><%= date %></p>
        <p><%= salary %></p>
      </div>
    </div>

    <%= link_to 'Details', "#", class: "my-btn-small", data: {action: "click->offer-modal#show", id: id}%>
  </div>

</div>
