<div class="offer-modal-main-container d-none" id=<%=offer.id%> data-offer-modal-target= "index">
  <div class="om-content" data-offer-modal-target= "content">
    <div class="show-main-container">
      <div class="show-mc-lc">
      </div>

      <div class="show-mc-mc">
        <%= link_to offers_path, class:"my-back-btn", data: {action: "click->offer-modal#dont_show"} do  %>
          <div class="back-container">
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
          </div>
        <% end %>
      </div>

      <div class="show-mc-rc">
        <ul class="rc-infos-ul">
          <li>
            <h2><%= offer.job_title %></h2>
          </li>
          <li>
            <div>
              <div class= "container-titre-localisation-photo">
                <div>
                  <h3><i class="fa-solid fa-user-tie"></i></i> :
                    <%= link_to user_path(offer.user.id), class: 'link-name-profil' do %>
                      <%= offer.user.first_name + ' ' + offer.user.last_name %>
                    <%end%>
                  </h3>
                  <h3><i class="fa-solid fa-map-pin"></i> : Lille</h3>
                  <h3><i class="fa-solid fa-calendar-days"></i> : Du <%= offer.start_time %> au <%= offer.end_time %></h3>
                  <h3><i class="fa-solid fa-euro-sign"></i> : <%=offer.salary.round%> €/jour</h3>
                </div>
                <div class= "user-photo-offer">
                  <%= render partial: 'shared/avatar_large', locals: {img: offer.user.picture_url} %>
                </div>
               </div>

            </div>
          </li>
          <li>
            <div class="rc-description-container">
              <p><%= offer.description %></p>
            </div>
          </li>
          <li>
          <div class="rc-btn-container">
            <%= link_to 'Postuler', offer_appliances_path(offer), data: {turbo_method: :post} , class: "my-btn" %>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
