<div class="offer-modal-main-container d-none" id=<%=offer.id%> data-offer-modal-target= "index">
  <div class="om-content">
    <div class="show-main-container">
      <div class="show-mc-lc">
      </div>

      <div class="show-mc-mc">
        <%= link_to offers_path, class:"my-back-btn", data: {action: "click->offer-modal#dont_show"} do  %>
          <div class="back-container">
            <i class="fa-sharp fa-solid fa-arrow-left"></i>
          </div>
        <% end %>
      </div>

      <div class="show-mc-rc">
        <ul class="rc-infos-ul">
          <li>
            <h2><%= offer.job_title %></h2>
          </li>
          <li>
            <div>
              <h3>Owner: <%= offer.user.first_name + ' ' + offer.user.last_name %></h3>
              <h3>Localité: Lille</h3>
              <h3>Date: <%= offer.start_time %></h3>
              <h3>Salaire: <%=offer.salary%>€/jour</h3>
            </div>
          </li>
          <li>
            <div class="rc-description-container">
              <p><%= offer.description %></p>
            </div>
          </li>
          <li>
          <div class="rc-btn-container">
            <%= link_to 'Apply', offer_appliances_path(offer), data: {turbo_method: :post} , class: "my-btn" %>
            <%= link_to 'Apply', offer_appliances_path(offer), data: {turbo_method: :post} , class: "my-btn" %>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
