<%= render "shared/navbar" %>
<div class="dashboard-main-container" data-controller="dashboard-link">
  <div class="dmc-lc">
    <div class="lc-nav-container">
      <ul class = "nav">
        <li>
          <p class= <%= params[:where] == "msg" ? "active" : "empty"%> data-action= "click->dashboard-link#switch_page" data-id ="message" data-dashboard-link-target="link">Ma messagerie</p>
        </li>
        <li>
          <p class= <%= params[:where] == "apply" ? "active" : "empty"%> data-action= "click->dashboard-link#switch_page" data-id ="apply" data-dashboard-link-target="link">Mes canditatures</p>
        </li>
        <li>
          <p class= <%= params[:where] == "offer" ? "active" : "empty"%> data-action= "click->dashboard-link#switch_page" data-id ="offer" data-dashboard-link-target="link">Mes offres</p>
        </li>
        <li>
          <p class= <%= params[:where] == "edit" ? "active" : "empty"%> data-action= "click->dashboard-link#switch_page" data-id ="edit" data-dashboard-link-target="link">Mon profil</p>
        </li>
      </ul>
      <%= link_to destroy_user_session_path, class:"my-disc-btn", data: {turbo_method: :delete} do  %>
        <ul>
          <i class="fa-solid fa-power-off"></i>
          <li>
              Déconnexion
          </li>
        </ul>
    <%end%>
    </div>
  </div>


  <div class="dmc-rc">

    <%# --------------------------- %>
    <div class="dmc-rc-message <%= params[:where] == 'msg' ? ' ' : 'd-none'%>" data-dashboard-link-target="message" data-controller="message" data-id ="msg">
      <div class="rc-message-lc">

        <% if @chatrooms != [] %>
          <% @chatrooms.each do |chatroom| %>
          <% chatroom.participants[0].user_id == current_user.id ? user_2 = User.find(chatroom.participants[0].user_2) : user_2 = User.find(chatroom.participants[0].user_id) %>
            <%= render partial: 'shared/message_card', locals: {img: user_2.picture_url,
                                                              user: user_2,
                                                              chatroom: chatroom,
                                                              participant: @chatrooms[0].participants[0]} %>
          <% end %>
        <% end %>
      </div>



      <% if @chatrooms != [] %>
        <% @chatrooms.each do |chatroom| %>
          <% chatroom.participants[0].user_id == current_user.id ? user_2 = User.find(chatroom.participants[0].user_2) : user_2 = User.find(chatroom.participants[0].user_id) %>
          <div class="rc-message-rc d-none" data-id= <%=chatroom.participants[0].id%>  data-controller="chatroom-subscription"
                data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>"
                data-message-target="message"
                data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
          >
            <div class="msg-rc-tc">
                <div class="avatar-name-container">
                  <%= render partial: 'shared/avatar_small', locals: {img: user_2.picture_url} %>
                  <div class="name-last-online">
                    <h3><%= user_2.first_name + ' ' + user_2.last_name%></h3>
                  </div>
                </div>
                <%= link_to participant_chatroom_path(chatroom.participants[0].id, chatroom.id), data: {turbo_method: :delete} do  %>
                  <i class="fa-solid fa-trash" style = "color: black;"></i>
                <%end %>
            </div>

            <div class="msg-rc-mc" data-chatroom-subscription-target="messages">
              <% chatroom.messages.each do |message| %>
                  <div class="<%= message.user_id == current_user.id ? 'my-msg-container right': 'not-my-msg-container' %>">
                    <%= render partial: 'messages/message', locals: { message: message} %>
                  </div>
                <% end %>
            </div>

            <div class="msg-rc-bc">
                <%= form_with model: @message,html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" } ,class: "msg-form"}  do |f| %>
                  <%= f.text_field :name, class: "msg-field" %>
                  <%= hidden_field_tag 'chatroom', chatroom.id  %>
                  <%= f.submit class: "my-btn", value: "Send" %>
                <% end %>

            </div>

          </div>

        <% end %>

      <% end %>

    </div>
    <%# --------------------------- %>
    <div class="dmc-rc-apply <%= params[:where] == 'apply' ? ' ' : 'd-none'%> d-flex" data-dashboard-link-target="apply" data-id ="cnd">

        <% @user.appliances.each do |appliance| %>
          <%= render partial: 'shared/my_apply_card', locals: {offer: appliance.offer, user: appliance.offer.user, appliance: appliance} %>
        <% end %>

    </div>
    <div class="dmc-rc-offer <%= params[:where] == 'offer' ? ' ' : 'd-none'%>" data-dashboard-link-target="offer" data-id ="ofr">
      <% @offers.each do |offer| %>

        <%= render partial: 'shared/offer_card', locals: { offer: offer, user: @user } %>

        <% if offer.appliances != [] %>
          <div class="offers-appliance">
            <ul style = "display: flex;">
            <% offer.appliances.each do |appliance| %>
              <li style = "display: inline-block"> <%= render partial: 'shared/apply_card', locals: {user: appliance.user, appliance: appliance, offer: offer} %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


      <% end %>

    </div>
    <div class="dmc-rc-edit <%= params[:where] == 'edit' ? ' ' : 'd-none'%>" data-dashboard-link-target="edit" data-id ="edt">
      <div class="lc">
        <%= render partial: 'shared/avatar_large', locals: {img: @current_user.picture_url} %>
        <div class="name-container">

          <h3> <%=current_user.first_name %> <%=current_user.last_name  %></h3>
        </div>
        <p> <%=current_user.job_title%></p>
        <p> Note : 5 Etoiles</p>
        <ul>
          <li>
            <h3>- Expérience(s)</h3>
          </li>
          <li>
            <h3>- Diplôme(s)</h3>
          </li>
        </ul>
        <%= link_to 'Editer', '#', class: "my-btn-small" %>
      </div>
      <div class="rc">
        <div class="diplomas-container">
          <div class="dc-lc"> </div>
          <div class="dc-rc">
            <h2>Experience(s)</h2>
            <div class = "diplomas-infos">
              <% current_user.experiences.each do |experience| %>
              <div class="spacing" style="margin-bottom: 4%;">
                <h3> <%=experience.title  %></h3>
                <p><%=experience.description  %></p>
              </div>
                  <% end %>
            </div>
          </div>
        </div>

        <div class="diplomas-container">
          <div class="dc-lc"> </div>
          <div class="dc-rc">
            <h2>Diplôme(s)</h2>
            <div class = "diplomas-infos">
              <% current_user.diplomas.each do |diploma| %>
              <div class="spacing" style="margin-bottom: 4%;">
                <h3> <%=diploma.title  %></h3>
                <p><%=diploma.description  %></p>
              </div>
                  <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
