

  <%# Ajout de cette div pour ajouter un logo dans la navbar%>
  <div class="logo-container">
  </div>


  <%# ajoute la phrase time2rest à notre logo%>
  <div class="logo-sentence-container">
    <h1 class= "logo-sentence">Time2Rest</h1>
  </div>


  <%# Bouton orange de base, changer le name à coté du link to %>
  <%= link_to 'Hello', '#', class: "my-btn" %>

  <%# Bouton orange de base, changer le name à coté du link to %>
  <%= link_to 'Hello', '#', class: "my-btn-small" %>

  <%# Bouton orange de base, changer le name à coté du link to %>
  <%= link_to "#", class:"my-disc-btn" do  %>
    <ul>
      <i class="fa-solid fa-power-off"></i>
      <li>
          Disconnect
      </li>
    </ul>
  <%end%>

  <%# La flèche de retour %>
  <%= link_to "#", class:"my-back-btn" do  %>
    <div class="back-container">
      <i class="fa-sharp fa-solid fa-arrow-left"></i>
    </div>
  <%end%>


<%# l'icone du dashboard dans la navbar%>
<%= link_to "#", class:"my-dashboard-btn" do  %>
    <i class="fa-solid fa-bars"></i>
<%end%>

<%# partial pour faire mettre un avatar taille petit%>
<%= render partial: 'shared/avatar_small', locals: {img: 'item3'} %>

<%# partial pour faire mettre un avatar taille large%>
<%= render partial: 'shared/avatar_large', locals: {img: 'item3'} %>

<%# partial pour faire les tuiles des offres sur l'index bien pensé à mettre les instance à la place des texts%>
<%= render partial: 'shared/offer_card', locals: {
                                                  titre: 'Titre provisoire',
                                                  description: "Cul de Jésus de plâtre de câlique d'étole de
                                                  maudine de viande à chien de verrat de sapristi de bout d'ciarge de
                                                  Jésus Marie Joseph de crime d'enfant d'chienne de cimonaque de calvince.",
                                                  avatar: 'item3',
                                                  location: 'Lille',
                                                  date: '14/02/2023',
                                                  salary: '190',}
%>

<br>

<%# partial pour les tuiles pour la messagerie %>
<%= render partial: 'shared/message_card', locals: {img: 'item3',
                                                    first_name: 'John',
                                                    last_name: 'Doe',
                                                    time: '9h53',
                                                    message: "What's up dude ?"
} %>
