
<%# Ajout de cette div pour ajouter un logo dans la navbar%>
<%= render partial: 'shared/logo' %>

<%# Bouton orange de base, changer le name à coté du link to %>
<%= link_to 'Hello', '#', class: "my-btn" %>

<%# Bouton orange de base, changer le name à coté du link to %>
<%= link_to 'Hello', '#', class: "my-btn-small" %>

<%# Bouton orange de base, changer le name à coté du link to %>
<%= link_to "#", class:"my-disc-btn" do  %>
    <ul>
      <i class="fa-solid fa-power-off"></i>
      <li>
          Déconnexion
      </li>
    </ul>
<%end%>

<%# La flèche de retour %>
<%= link_to "#", class:"my-back-btn" do  %>
  <div class="back-container">
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
  </div>
<%end%>


<%# l'icone du dashboard dans la navbar%>
<%= link_to "#", class:"my-dashboard-btn" do  %>
    <i class="fa-solid fa-bars"></i>
<%end%>


<%# partial pour faire mettre un avatar taille large%>
<%= render partial: 'shared/avatar_large', locals: {img: current_user.picture_url} %>


<%# partial pour les tuiles pour la messagerie %>
<%= render partial: 'shared/message_card', locals: {img: 'item3.png',
                                                    first_name: 'John',
                                                    last_name: 'Doe',
                                                    time: '9h53',
                                                    message: "What's up dude ?"
} %>

<br><br>


<br><br>
<%= form_with url: offers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :job_title,
    params[:job_title],
    class: "form-control",
    placeholder: "Infirmier"
  %>
  <%= text_field_tag :address,
    params[:address],
    class: "form-control",
    placeholder: "Paris"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>



<h2>Créer une nouvelle mission :</h2>
<div>
<%= form_with model: @offer do |f| %>
  <div>
  <%= label_tag "Mission Title :"  %>
  <%= f.text_area :Mission_Title, size: "120x2", class: "form-input-background-color" %>
  </div>
  <div>
  <%= label_tag "Localisation :" %>
  <%= f.text_area :Localisation, size: "120x2", class: "form-input-background-color" %>
  </div>
  <div>
  <%= label_tag "Job_Title :" %>
  <%= f.text_area :Job_Title, size: "120x2", class: "form-input-background-color" %>
  </div>
  <div>
  <%= label_tag "Localisation :" %>
  <%= f.text_area :Localisation, size: "120x2", class: "form-input-background-color" %>
  </div>
  <div>
  <%= label_tag "Age :" %>
  <%= f.text_area :Age, size: "10x2", class: "form-input-background-color" %>
  </div>
  <div>
  <%= label_tag "Description :" %>
  <%= f.text_area :Description, size: "120x8", class: "form-input-background-color-description" %>
  </div>
  <div>
  <%= label_tag :Start_date %>
  <%= f.date_field :Start_date, class: "form-input-background-color"  %>
  <%= label_tag :End_date %>
  <%= f.date_field :End_date, class: "form-input-background-color"  %>
  </div>
  <div>
  <%= f.submit :Submit, class: "my-btn-small", style: "margin-top : 5px"%>
  </div>
<% end %>
</div>

<br>
<%# ne pas enlever la div c'est pour que la partial soit visible dans l'home%>
<div style = "background-color: #60A3AB">
  <%# partial de la search bar%>
  <%= render partial: 'shared/search_bar', locals: {path: offers_path} %>
</div>

<br><br><br>
