


<div class='content' data-controller="hero" data-action="scroll@window->hero#fixNavbar">
  <%= render "shared/navbar" %>
  <div id="landing_illustation" data-hero-target= "image">
    <div id="landing_fader">
      <div class="landing_info">
        <h2>Trouvez la personne qui prendra soin de votre activité</h2>
        <h1 id="landing_logo">Time2Rest</h1>
            <div class='arrow_bounce' data-action="click->hero#scroll">

                <div class="arrow_anim">
                  <i class="fa-solid fa-chevron-down"></i>
                </div>

            </div>
      </div>
    </div>
  </div>

  <div class='landing_container'>
    <div data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      class='map_landing'
      data-hero-target= "map">
    </div>
      <div class='index-cards-column' id='scroll_down'>
        <% @offers.each do |offer| %>
          <div data-controller="offer-modal">
            <% if @user != offer.user %>
              <%= render partial: 'shared/offer_card', locals: { offer: offer, user: @user }%>
              <%= render partial: 'shared/offer_show', locals: { offer: offer }%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
