


<div class='content' data-controller="hero" data-action="scroll@window->hero#fixNavbar">
  <%= render "shared/navbar" %>
  <div id="landing_illustation" data-hero-target= "image">
    <div id="landing_fader">
      <div class="landing_info">
        <h2> Find someone to take care of your buisness</h2>
        <h1 id="landing_logo">Time2Rest</h1>
        <div class="arrow_bounce">
          <i class="fa-solid fa-chevron-down"></i>
        </div>
      </div>
    </div>
  </div>

  <div class='landing_container'>
    <div data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      class='map_landing'
      data-hero-target= "map">
    </div>
      <div class='index-cards-column'>
        <% @offers.each do |offer| %>
        <div data-controller="offer-modal">
          <%= render partial: 'shared/offer_card', locals: {
                                                            titre: offer.job_title,
                                                            description: offer.description,
                                                            avatar: 'item3.png',
                                                            location: 'Lille',
                                                            date: offer.start_time,
                                                            salary: offer.salary,
                                                            id: offer.id}
          %>
          <%= render partial: 'shared/offer_show', locals: { titre: offer.job_title,
                                                      owner: offer.user.first_name + ' ' + offer.user.last_name,
                                                      localité: 'Lille',
                                                      date: offer.start_time,
                                                      salary: offer.salary,
                                                      description: offer.description,
                                                      id: offer.id
                                                  }%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
