  <div class= "container-global-new-page">
  <div class= "container-advices-new-page">
    <div class="advices-new-page">
      <h2>Quelques conseils pour ameliorer votre annonce</h2><br>
      <p><em> "Utilisez des mots clés <strong>pertinents</strong>  pour faciliter la recherche par des candidats qualifiés."</em></p><br>
      <p><em> "Utilisez un langage<strong> clair et concis </strong>pour décrire les responsabilités et les exigences du poste." </em></p><br>
      <p><em> "Faites en sorte que votre annonce d'emploi se distingue des autres avec <strong>un titre accrocheur."</strong></em></p><br>
      <p><em> "Soyez transparent sur <strong>la rémunération et les avantages </strong>pour éviter les malentendus futurs." </em></p><br>

    </div>
  </div>
  <div class="container-form-new-page">
    <h2>Creer une nouvelle offre :</h2> <br>
    <%= simple_form_for @offer, html: {class: 'testtest'} do |f| %>

      <div>
        <%= label_tag "Intitule de la mission :"  %>
        <%= f.text_area :job_title, size: "100x2", class: "form-input-background-color" %>
      </div>

      <div>
        <%= label_tag "Localisation :" %>
        <%= f.text_area :address, size: "100x2", class: "form-input-background-color" %>
      </div>

      <div>
        <%= label_tag "Description :" %>
        <%= f.text_area :description, size: "100x8", class: "form-input-background-color-description" %>
      </div>

      <div>
        <%= label_tag "Salaire :" %>
        <%= f.text_area :salary, size: "10x2", class: "form-input-background-color" %>
      </div>

      <div>
        <%= f.input :start_time, as: :string, placeholder: "Dates :", label: false, input_html: { data: { controller: "flatpickr" }, style: "width: 25vh;"} %>
      </div>

      <div class="container mt-5 text-center">
        <%= f.submit :Soumettre, class: "my-btn-small", style: "margin-top : 5px"%>
      </div>
    <% end %>
  </div>
</div>
