<h1>Offers#new</h1>
<p>Find me in app/views/offers/new.html.erb</p>

<div class="container mt-5 ">
  <h1 >Create a new mission</h1>
  <div >
    <%= simple_form_for @offer, html: {class: 'd-flex flex-column'} do |f| %>
      <%= f.input :job_title, input_html: { class: 'input' } %>
      <%# Localisation à implenter avec Geocoder %>
      <%# f.input :localisation, input_html: { class: 'input' } %>
      <%= f.input :description, input_html: { class: 'input' } %>
      <div class="col">
      <%= f.input :start_time, as: :string,
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>

      </div>
      <%= f.input :salary, input_html: { class: 'input' } %>
      <%# Absence de column 'require diploma' dans la table Offers %>
      <%# A régler : le sort de l'input 'ajouter une pièce jointe' %>
      <%= f.button :submit, "Create"%>
    <% end %>
  </div>
</div>

<%# , id="myFlatpickr" %>
